body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #DCDCDC;
}

.App {
  text-align: center;
}

a:link {
  color: black;
}
a:visited {
  color: midnightblue;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.sticky-nav {
  position: sticky;
  top: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2em;
  background-color: #A9A9A9;
}

.nav-title {
  font-size: 1.9em;
  margin-left: 1em;
}

.navdiv {
  display: grid;
  grid-template-columns: 4 auto;
  grid-column-gap: 5px;
  margin-right: 1em;
}

.garagelink {
  grid-column-start: 1;
  font-size: 1.4em;
}

.vehicleslink {
  grid-column-start: 2;
  font-size: 1.4em;
}

.addlink {
  grid-column-start: 3;
  font-size: 1.4em;
}

.aboutlink{
  grid-column-start: 4;
  font-size: 1.4em;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.garage-title {
  font-size: 1.85em;
}

.vehicle-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
  margin-top: 3vh;
  font-size: 1.15em
}

.detail-header {
  display: flex;
  flex-direction: column;
}

.vehicle-detail-image{
  width: 60vw;
}

.vehicle-detail-image {
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
}

.card {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 35vw;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.15em
}

.card img {
  width: 35vw;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
}

/* .img-wrapper {
  width: auto;
} */

.vehicleform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 250px;
  height: 700px;
  font-size: 1.35em;
}

.garageform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  height: 20vh;
}

.vehicles-link {
  width: 100vw;
}

.about-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
}

.about-div {
  width: 50vw;
  font-size: 20px;
}

.about-image {
  width: 70vw;
  border-radius: 10px;
  box-shadow: 2px 2px 6px;
}