body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #DCDCDC;
}

.App {
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
  min-height: 2em;
  background-color: #A9A9A9;
}

.display-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.vehicle-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.detail-header {
  display: flex;
  flex-direction: column;
}

.vehicle-detail img{
  width: 60vw;
}

.card {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 35vw;
  border-radius: 5px;
  margin: 10px;
}

.card img {
  width: 35vw;
}

.img-wrapper {
  width: auto;
}

.vehicleform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30vw;
  height: 80vh;
}

.garageform {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
  height: 20vh;
}

.vehicles-link {
  width: 100vw;
}